@media only screen and (max-width: 460px) {
	/*导航*/
/*	body{
		overflow-x: hidden;
	}*/
	.top{
		display:none;
	}
	.nav{
		width: 100vm;
		box-shadow: 0 1px 10px rgba(0,0,0,0.2);
	}
	.nav .buy{
		display: none;
	}
	.nav .search{
		margin-right: -120px;
		transform: none;
	}
	.nav .burger{
		display: block;
		margin-right: 0;
		width: 20px;
		height: 20px;
		justify-content: right;
	}
	.nav .burger div{
		width: 24px;
		height: 3px;
		border-radius: 10px;
		background-color: rgb(0,0,0);
		margin-top: 3.5px;
	}
	.nav .searchBox{
		position: fixed;
		transform: scale(1);
		width: 100%;
		height: 100%;
		right: -100%;
		top: 0;
		margin: 0 auto;
		background-color: rgb(248,248,248);
		z-index: 6;
	}
	.nav .searchBox .search-box{
		border: none;
		text-align: center;
		height: 65px;
		width: 100%;
		background-color: white;
		padding-top: 14px;
	}
	.nav .searchBox .search-box i{
		top: 24px;
		right: 66px;
	}
	.nav .searchBox .search-box .close{
		position: absolute;
		top: 10px;
		right: 16px;
	}
	.nav .searchBox .search-box,.nav .searchBox .hot{
		display: block;
	}
	.nav .searchBox .hot{
		margin: 8px 12px 12px 12px;
	}
	.nav .searchBox .hot p{
		padding: 10px 0;
		border-bottom: 1px solid rgb(227,227,227);
		font-weight: bold;
		font-size: 14px;
		cursor: pointer;
	}
	.nav .searchBox .hot span{
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid rgb(227,227,227);
		font-size: 14px;
	}
	.nav .searchBox .search-box input{
		width: 80%;
		height: 50px;
		padding: 0 0 0 10px;
		position: absolute;
		left: 5%;
		border: 1px solid rgb(212,212,212);
	}
	.nav .logo img{
		margin-left: -46px;
		width: 110px;
	}
	.nav .web_top{
		display: block;
		position: fixed;
		left: 100%;
		top: 70%;
		z-index: 8;
		color: black;
		width: 100%;
		text-align: center;
		transition: all 0.4s ease-in-out;
	}
	.nav .web_top.active{
		left: 0;
	}
	.nav .web_top div{
		margin: 0 auto;
		vertical-align: top;
		display: inline-block;
	}
	.nav .web_top div div{
		border: 1px solid black;
		width: 30px;
		height: 30px;
		border-radius: 40px;
		padding: 10px;
		margin: 0 16px 4px 16px;
	}
	.nav .web_top div div img{
		width: 30px;
		line-height: 50px;
	}
	.nav .nav-menu{
        position: fixed;
        z-index: 6;
        top: 80px;
        right: -100%;
        bottom: 0;
        width: 100vw;
		height: calc(100vh - 78px);
		padding-top: 20px;

        background-color: rgb(248,248,248);
        flex-direction: column;
        justify-content: flex-start;
        transition: all 0.4s ease-in-out;
    }
	.nav .nav-menu.active{
		right: 0;
	}
	.nav-menu .buy1{
		display: block;
	}
	.nav .nav-menu li a{
		display: block;
		padding: 16px 0;
		font-weight: bold;
		border-bottom: 1px solid rgb(229,229,229);
	}
	.nav .nav-menu li a:after{
		content: ">";
		font-family: 宋体;
		font-weight: bold;
		float: right;
	}
	.burger.active .top-line{
		transform: rotate(45deg) translate(3px,6px);
	}
	.burger.active .middle-line{
		opacity: 0;
		transform: translateX(10px);
		transition: 0.3s ease-in-out;
	}
	.burger.active .bottom-line{
		transform: rotate(-45deg) translate(4px,-6px);
	}
	/*轮播图*/
	.wrap{
		width: 100%;
	}
	.wrap .list{
		width: 500vm;
	}
	.wrap .list .item span{
		font-size: 14px;
	}
	.wrap .list .item .button1{
		height: 30px;
		width: 146px;
		line-height: 30px;
		margin: 140px 114px;
	}
	.wrap .list .item .button2{
		height: 30px;
		width: 146px;
		line-height: 30px;
		margin-top: 176px;
		margin-left: 114px;
	}
	.wrap .list .item .button3{
		height: 30px;
		width: 146px;
		line-height: 30px;
		margin-top: 125px;
		margin-left: 114px;
	}
	.wrap .list .item span:hover{
		width: 146px;
		height: 30px;
		line-height: 30px;
		border: none;
		background-color: rgb(199,0,11);
		color: white;
		cursor: pointer;
	}
	.wrap:hover  .prev,.wrap:hover .next{
		display: none;
	}
	.wrap .count{
		display: inline-block;
		left: 0;
		text-align: center;
	}
	.wrap .count div{
		display: inline-block;
		width: 9px;
		height: 9px;
		border-radius: 9px;
		background: none;
		border: 1px solid white;
		cursor: pointer;
		margin: 0 6px;
	}
	.wrap .count div.active{
		background-color: white;
	}
	.wrap .count div span{
		display: none;
	}
	.recommend{
		width: 100%;
		position: relative;
	}
	.recommend .list_mob,.recommend .recommend_img_mob,.video_mob{
		display: block;
	}
	.recommend .recommend_top{
		padding: 30px 0;
	}
	.recommend .recommend_top h1{
		font-size: 26px;
	}
	.recommend .recommend_img{
		display: none;
	}
	.recommend .wrap_mob{
		overflow: hidden;
		margin: 0 14px;
		position: relative;
	}
	.recommend .wrap_mob>div{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	}
	.recommend .wrap_mob .list_mob{
		list-style-type: none;
	}
	.recommend .wrap_mob .list_mob .item{
		float: left;
		position: relative;
	}
	.recommend .wrap_mob .list_mob .item>span{
		width: 100%;
		color: white;
		position: absolute;
		top: 174px;
		left: 16px;
		z-index: 1;
	}
	.recommend .wrap_mob .list_mob .item>span>span{
		font-weight: bold;
	}
	.recommend .count_mob{
		display: inline-block;
		position: absolute;
		left: 0;
		text-align: center;
	}
	.recommend .count_mob div{
		display: inline-block;
		width: 9px;
		height: 9px;
		border-radius: 9px;
		background: none;
		border: 1px solid white;
		cursor: pointer;
		margin: 0 6px;
	}
	.recommend .count_mob div.active{
		background-color: white;
	}
	.recommend .count_mob div span{
		display: none;
	}
	.recommend .recommend_img_mob{
		/*overflow: hidden;*/
		margin: 10px auto 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	.recommend .recommend_img_mob div{
		margin: 10px auto;
		background-color: rgb(245,245,245);
	}
	.recommend .recommend_img_mob div>p{
		margin: 10px 0 10px 10px;
		font-weight: lighter;
		font-size: 14px;
	}
	.recommend .recommend_img_mob div>p:last-child{
		font-weight: bold;
	}
	.video{
		display: none;
	}
	.video_mob{
		margin-top: 40px;
		cursor: pointer;
	}
	.news{
		margin: 0;
	}
	.news .new_top{
		padding: 30px 0;
	}
	.news .new_top h1{
		font-size: 26px;
	}
	.news .news_content{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.news .news_content div{
		margin-bottom: 14px;
	}
	.news .news_content .contentNews{
		height: auto;
	}
	.news .news_content .contentNews .contentNews1{
		padding-bottom: 0;
	}
	.news .newsButton .news_button{
		width: 140px;
		height: 36px;
		margin: 20px 20px 30px 20px;
	}
	.footer{
		padding-top: 10px;
	}
	.footer .footer_top{
		width: 100%;
	}
	.footer .footer_top a,.footer .footer_top div .search1{
		display: none;
	}
	.footer .footer_top div .searchBox1{
		width: 100%;
		transform: scale(1);
		padding:0 0 20px 0;
		border-bottom: 1px solid rgb(232,232,232);
	}
	.footer .footer_top div .searchBox1 .search-box1,
	.footer .footer_top div .searchBox1 .search-box1 input{
		width: 96%;
		margin: 0 auto;
	}
	.footer .footer_top div .searchBox1 .search-box1 i{
		left: 84%;
	}
	.footer .footer_top div .searchBox1 .close{
		display: none;
	}
	.footer .footer_content{
		display: none;
	}
	.footer .footer_content1,.footer .footer_content2{
		width: 100%;
		height: auto;
	}
	.footer .footer_content1{
		flex-wrap: wrap;
		text-align: center;
	}
	.footer .footer_content1>div:first-child{
		width: 92%;
		margin: 10px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer .footer_content1>div:first-child span{
		text-align: center;
		color: black;
		margin: 2%;
	}
	.footer .footer_content1>div:last-child{
		margin: 20px auto 0 auto;
	}
}