@font-face {
  font-family: "iconfont"; /* Project id 2514048 */
  src: url('iconfont.woff2?t=1619783753125') format('woff2'),
       url('iconfont.woff?t=1619783753125') format('woff'),
       url('iconfont.ttf?t=1619783753125') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shang:before {
  content: "\e689";
}

.icon-guanbi:before {
  content: "\e626";
}

.icon-location:before {
  content: "\e611";
}

.icon-riqi:before {
  content: "\e787";
}

.icon-lunbo:before {
  content: "\e623";
}

.icon-huawei:before {
  content: "\e82e";
}

.icon-xia:before {
  content: "\e61f";
}

.icon-sousuo:before {
  content: "\e633";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-prev:before {
  content: "\e624";
}

.icon-bijibendiannao:before {
  content: "\e60f";
}

.icon-linkedin:before {
  content: "\e696";
}

.icon-pad:before {
  content: "\e608";
}

.icon-router:before {
  content: "\e612";
}

.icon-VRglasses:before {
  content: "\e613";
}

.icon-gouwuche:before {
  content: "\e610";
}

.icon-pingguoerji:before {
  content: "\e64b";
}

.icon-shoubiao:before {
  content: "\e614";
}

.icon-dianshi:before {
  content: "\e61a";
}

.icon-tubiaozhizuo-:before {
  content: "\e60a";
}

.icon-lunbo-next:before {
  content: "\e625";
}

.icon-shouji:before {
  content: "\e71f";
}

.icon-Arrowrightnext:before {
  content: "\e9cc";
}

.icon-gouwudaidaizishangcheng:before {
  content: "\e61e";
}

.icon-sousuo1:before {
  content: "\e60c";
}

.icon-toutiaoyangshi:before {
  content: "\e622";
}

.icon-zhihu-square-fill:before {
  content: "\ea8b";
}

